<?php
/**
 * Criado através de FileTemplate por Kevin.
 */
#parse("PHP File Header.php")
#set( $CONTRA_BARRA = "\" )

namespace App\Validators;

use App\Models$CONTRA_BARRA${MODEL};
use Illuminate\Validation\Rule;


/**
 * Class ${NAME}
 * @package App\Validators
 */
class ${NAME}
{
#if (${IS_AUTH} == "TRUE" || ${IS_AUTH} == "true" || ${IS_AUTH} == "1")
    /**
     * @return array
     */
    static public function login(): array
    {
        return [

#if (${WITH_FACEBOOK} == "TRUE" || ${WITH_FACEBOOK} == "true" || ${WITH_FACEBOOK} == "1")
            'email' => 'required_without:facebook_id|string|exists:'.(new ${MODEL})->getTable(),
            'senha' => 'required_without:facebook_id|string',
            'facebook_id' => 'required_without:email|required_without:senha|string|exists:'.(new ${MODEL})->getTable()
#else
            'email' => 'required|string|exists:'.(new ${MODEL})->getTable(),
            'senha' => 'required|string',
#end
        ];
    }
#end

    /**
     * Regras para criação de ${MODEL}
     * @return array
     */
    static public function store() : array
    {
        return [
            //TODO Implementar store
        ];
    }

    /**
     * Regras para alteração de ${MODEL}
     * @return array
     */
    static public function update() : array
    {
        return [
            //TODO Implementar update
        ];
    }
}
